//COLORS

$Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
$Light-Grayish-Blue: hsl(234, 14%, 74%);
$Grayish-Blue: hsl(233, 13%, 49%);
$Dark-Grayish-Blue: hsl(232, 13%, 33%);
$Light-Blue:hsla(237, 63%, 65%, 1);
$White: #fff;

//UI

$color-main:$Grayish-Blue;
$color-accent:$Dark-Grayish-Blue;
$color-white:$White;
$color-blue:$Light-Blue;

$background-body:$Very-Light-Grayish-Blue;