@import 'normalize','settings','variables';

//TYPOGRAPHY AND COLORS ----START

body {
    background: $background-body;
    color: $color-main;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    list-style: none;
}

.main {
    padding: 6.4rem 0 7.1rem;
    background: url(../images/bg-top.svg) no-repeat;
    background-position-x: 200px;
    background-position-y: -25px;
    max-width: 37.5rem;
    width: 100%;
}

.toggle-price {
    margin: 0 auto 8rem;

    &__heading {
        font-size: 3.2rem;
        line-height: 3.9rem;
        margin-bottom: 4rem;
    }

    &__wrapper {
        opacity: 0.5;
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        line-height: 2.8rem;
        gap: 2.4rem;
    }

    &__toggle {
        width: 5.6rem;
        height: 3.2rem;
        background: linear-gradient(135deg, #A2A7F0 0%, #696EDD 100%);
        border-radius: 16px;
        position: relative;
    }

    &__circle {
        width: 2.4rem;
        height: 2.4rem;
        background:#fff;
        border-radius:100%;
        position: absolute;
        top: 4px;
        left: 5px;
    }
}

.toggle {
    width: 56px;
    height: 32px;
    border-radius: 16px;
    display: inline-block;
    cursor: pointer;
}

.toggle__input {
    display: none;
}

.toggle__fill {
    position: relative;
    width: 56px;
    height: 32px;
    border-radius: 16px;
    background: linear-gradient(135deg, #A2A7F0 0%, #696EDD 100%);
    transition: background 0.2s;
}

.toggle__fill::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    height: 24px;
    width: 24px;
    background: #ffffff;
    border-radius: 100%;
    transition: transform 0.2s;
}

.toggle__input:checked ~ .toggle__fill {
    background: #009578;
}

.toggle__input:checked ~ .cards__price {
    display: none;
}

.toggle__input:checked ~ .toggle__fill::after {
    transform: translateX(23px);
}

form:valid ~ .cards .cards__card .cards__price {
    opacity: 0;
}

form:valid ~ .cards .cards__card .cards__price-secondary {
    display: flex;
}

.cards {
    padding: 0 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    &__card {
        box-shadow: 0px 20px 40px rgba(212, 210, 244, 0.5);
        border-radius: 10px;
        padding: 3.1rem 2.9rem;
    }

    &__type {
        font-size: 1.8rem;
        line-height: 2.8rem;
        margin-bottom: 2.4rem;
    }

    &__price {
        font-size: 7.2rem;
        line-height: 7.1rem;   
        color: $color-accent;
        position: absolute;
        z-index: 10;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__price-secondary {
        font-size: 7.2rem;
        line-height: 7.1rem;   
        color: $color-accent;
        display: none;
        align-items: center;
        justify-content: center;
    }

    &__price-wrapper {
        border-bottom: 1px solid hsla(232, 13%, 49%, 0.25); 
        position: relative;
        height: 103px;
        padding-bottom: 3.2rem;
    }

    &__dollar {
        font-size: 4rem;
        line-height: 4.8rem;
    }

    &__list {
        margin-bottom: 3.2rem;
    }

    &__list-item {
        font-size: 1.5rem;
        line-height: 2.8rem;
        padding: 1.2rem 0;
        border-bottom: 1px solid hsla(232, 13%, 49%, 0.25);
    }

    &__card-primary {
        background: $White;
    }

    &__card-secondary {
        background: linear-gradient(135deg, #A2A7F0 0.06%, #696EDD 100.06%);
        color: $White;
    }

    &__card-secondary p {
        color: $White;
    }

    &__link {
        display: inline-block;
        width: 100%;
        padding: 1.4rem 0;
        letter-spacing: 1.39px;
        text-transform: uppercase;
        font-size: 1.3rem;
        line-height: 1.6rem;
        border-radius: 6px;
    }

    &__link-primary {
        background: linear-gradient(135deg, #A2A7F0 0%, #696EDD 100%);
        color: $White;
    }

    &__link-secondary {
        background: white;
        color: $Light-Blue;
    }
}

@media screen and (min-width:1100px) {

    a:hover, .toggle-price__toggle:hover {
        cursor: pointer;
    }

    a:hover {
        background: transparent;
    }

    .main {
        max-width: 144rem;
        min-height: 100vh;
        padding: 7.1rem 0 0;
        background: url(../images/bg-top.svg) top right no-repeat, url(../images/bg-bottom.svg) left bottom no-repeat;
    }

    .toggle-price {
        margin-bottom: 6.4rem;
    }

    .cards {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0;

        &__card-primary {
            padding: 3.1rem;
        }

        &__card:first-child {
            border-radius: 10px 0px 0px 10px;
        }

        &__card:last-child {
            border-radius: 0px 10px 10px 0px;
        }

        &__card-secondary {
            padding: 5.5rem 3.1rem;
        }

        &__list-item {
            padding: 1.2rem 8.15rem;
        }

        &__link-primary:hover {
            color: $Light-Blue;
            outline: 1px solid $Light-Blue;
        }

        &__link-secondary:hover {
            color: $White;
            outline: 1px solid $White;
        }

        &__dollar {
            font-size: 7.2rem;
            line-height: 7.1rem;
        }
    }
}